# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables & Keys (DO NOT COMMIT)
.env

# Virtual Environments
.venv/
venv/
env/

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
